<div class="story" style="margin-bottom: 0">
    <div style="text-align: center">
        <img src="{{MEDIA}}elki.png" title="elki" alt="elki" width="600px">
    </div>
</div>

<p>
    中位数是一个数字值，它将<strong>排序后</strong>的{% if is_js %}数组{% else %}列表{% endif %} 的上半部分与下半部分分开。 <span>({% if is_js %}array{% else %}list{% endif %})</span>的上半部分与下半部分的数字分开。在{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>在有奇数实体的情况下，中位数是在{% if is_js %}数组{% else %}列表{% endif %} 的中间找到的数字。 <span>({% if is_js %}array{% else %}list{% endif %})</span>.如果{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>包含偶数的实体，那么就没有单一的中间值，相反，中位数成为在中间找到的两个数字的平均值。在这个任务中，你会得到一个非空的{% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span>的整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.有了它，你必须把上半部分的数字和下半部分的数字分开，并找到中位数。
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}median.png" alt="example" style="max-height: 300px"/>
</p>
<p>
    如果你想在类似的情况下多加练习，可以试试<a target="_blank" href="https://py.checkio.org/mission/middle-characters/share/0ec0e10f57f485a397fb9a29d9a8c199/">Middle Characters</a> 任务。
</p>

<p>
   <strong>输入：</strong> {% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>有整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>中位数是一个整数或浮点数 <span>{% if is_js %}(number){% else %}(int | float){% endif %}</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>它是如何被使用的：</strong>
    中位数在统计学和概率论中都有应用，它对偏态分布有特别重要的价值。例如：我们想从一组数据中了解人们的平均财富--100人每月挣100美元，10人挣100万美元。如果我们将其平均化，我们会得到91,000美元。这是很奇怪的数值，并没有向我们展示真实的情况。在这种情况下，中位数会给我们提供更有用的价值和更好的画面。
   <a target="_blank" href="http://en.wikipedia.org/wiki/Median">The Article at Wikipedia.</a>
</p>

<p>
    <strong>前提条件：</strong>
    <ul>
        <li>1 &lt; len(data) &le; 1000</li>
        <li>all(0 &le; x &lt; 10 ** 6 for x in data)</li>
    </ul>
</p>
