<div class="story" style="margin-bottom: 0">
    <div style="text-align: center">
        <img src="{{MEDIA}}elki.png" title="elki" alt="elki" width="600px">
    </div>
</div>
<p>
    Медіана – це числове значення, яке ділить відсортований {% if is_js %}масив{% else %}список{% endif %} чисел на більшу і меншу половини. У відсортованому {% if is_js %}масиві{% else %}списку{% endif %} з непарним числом елементів медіана – це число в середині {% if is_js %}масиву{% else %}списку{% endif %}. 
    Для {% if is_js %}масиву{% else %}списку{% endif %} з парним числом елементів, де немає жодного елемента точно посередині, медіана – це середнє значення двох чисел, які знаходяться в середині {% if is_js %}масиву{% else %}списку{% endif %}. В цій задачі заданий непустий {% if is_js %}масив{% else %}список{% endif %} натуральних чисел. Вам потрібно знайти медіану даного {% if is_js %}масиву{% else %}списку{% endif %}.
</p>


<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} натуральних чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> Медіана, як число (int, float).
</p>

<div class="for_info_only">

    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>


<p class="for_info_only">
    <strong>Як це використовується:</strong>
    Медіана знаходить своє застосування в статистиці і в теорії ймовірностей, 
    особливо важлива вона для асиметричного розподілення. Наприклад: ми хочемо 
    визначити середній прибуток населення – 100 чоловік отримують $100 на місяць і 
    10 чоловік отримують $1,000,000. Якщо ми візьмемо середнє арифметичне, тоді отримаємо 
    $91,000. Це досить таки дивне число, яке не відображає істинний стан речей. 
    В цьому випадку медіана буде для нас більш корисною величиною і відобразить 
    більш вірогідну картину.
    <a target="_blank" href="https://uk.wikipedia.org/wiki/Медіана_(статистика)">Стаття на Вікіпедії.</a>
</p>


<p><strong>Передумови:</strong><br>
    <ul>
        <li>1 &lt; len(data) &le; 1000</li>
        <li>all(0 &le; x < 10 ** 6 for x in data)</li>
    </ul>
</p>