<div class="story" style="margin-bottom: 0">
    <div style="text-align: center">
        <img src="{{MEDIA}}elki.png" title="elki" alt="elki" width="600px">
    </div>
</div>

<p>
    A median is a numerical value separating the upper half of a <strong>sorted</strong> <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of numbers from the lower half. In <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> where there are an odd number of entities, the median is the number found in the middle of the <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span>. If the <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> contains an even number of entities, then there is no single middle value, instead the median becomes the average of the two numbers found in the middle. For this mission, you are given a non-empty <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>. With it, you must separate the upper half of the numbers from the lower half and find the median.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}median.png" alt="example" style="max-height: 300px"/>
</p>
<p>
    If you want to practice more with the similar case, try <a target="_blank" href="https://py.checkio.org/mission/middle-characters/share/0ec0e10f57f485a397fb9a29d9a8c199/">Middle Characters</a> mission.
</p>

<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> with integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> The median as an integer or float <span translate="no">{% if is_js %}(number){% else %}(int | float){% endif %}</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    The median has usage for Statistics and Probability theory, it has especially significant value for skewed distribution. For example: we want to know average wealth of people from a set of data - 100 people earn $100 in month and 10 people earn $1,000,000. If we average it out, we get $91,000. This is weird value and does nothing to show us the real picture. In this case the median would give to us more useful value and a better picture.
    <a target="_blank" href="http://en.wikipedia.org/wiki/Median">The Article at Wikipedia.</a>
</p>

<p>
    <strong>Preconditions:</strong>
    <ul>
        <li>1 &lt; len(data) &le; 1000</li>
        <li>all(0 &le; x < 10 ** 6 for x in data)</li>
    </ul>
</p>
